<a href="https://colab.research.google.com/github/RichardKameri/tydata/blob/main/Army.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

CREATE A DATA FRAME CALLED ARMY

In [4]:
# Create an example dataframe about a fictional army
Army = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

Don't forget to include the columns names in the order presented in the dictionary ('regiment', 'company', 'deaths'...) so that the column index order is consistent with the solutions. If omitted, pandas will order the columns alphabetically

In [5]:
import pandas as pd

# Data dictionary
data = {
    'regiment': ['Nighthawks', 'Dragoons', 'Scouts', 'Nighthawks'],
    'company': ['1st', '1st', '2nd', '2nd'],
    'deaths': [4, 24, 31, 2],
    'battles': [5, 10, 15, 5],
    'size': [750, 800, 950, 800],
    'veterans': [48, 5, 90, 20],
    'readiness': [1.5, 1.0, 2.0, 1.5],
    'armored': [75, 35, 85, 25],
    'deserters': [4, 24, 31, 2],
    'origin': ['Arizona', 'Texas', 'Florida', 'California']
}

# Create DataFrame with specified column order
df = pd.DataFrame(data, columns=['regiment', 'company', 'deaths', 'battles', 'size', 'veterans', 'readiness', 'armored', 'deserters', 'origin'])

print(df)

     regiment company  deaths  battles  size  veterans  readiness  armored  \
0  Nighthawks     1st       4        5   750        48        1.5       75
1    Dragoons     1st      24       10   800         5        1.0       35
2      Scouts     2nd      31       15   950        90        2.0       85
3  Nighthawks     2nd       2        5   800        20        1.5       25

   deserters      origin
0          4     Arizona
1         24       Texas
2         31     Florida
3          2  California

Set the 'origin' colum as the index of the dataframe

In [6]:
df.set_index('origin', inplace=True)

Print the columns 'veterans' and 'deaths

In [7]:
print(df[['veterans', 'deaths']])

            veterans  deaths
origin
Arizona           48       4
Texas              5      24
Florida           90      31
California        20       2

Print only the column veterans

In [8]:
print(df['veterans'])

origin
Arizona       48
Texas          5
Florida       90
California    20
Name: veterans, dtype: int64

Print the name of all the columns

In [9]:
print(df.columns)

Index(['regiment', 'company', 'deaths', 'battles', 'size', 'veterans',
       'readiness', 'armored', 'deserters'],
      dtype='object')

Select the 'deaths', 'size' and 'deserters' columns from Maine and Alaska

 Select the rows 3 to 7 and the columns 3 to 6

In [21]:
selected_rows = df.iloc[3:7, 3:6]
print(selected_rows)

            battles  size  veterans
origin
California        5   800        20

elect every row after the fourth row and all columns

In [23]:
selected_rows = df.iloc[4:, :]
print(selected_rows)

Empty DataFrame
Columns: [regiment, company, deaths, battles, size, veterans, readiness, armored, deserters]
Index: []

Select rows where df.deaths is greater than 50

In [26]:
selected_rows = df[df['deaths'] > 50]
print(selected_rows)

Empty DataFrame
Columns: [regiment, company, deaths, battles, size, veterans, readiness, armored, deserters]
Index: []

Select rows where df.deaths is greater than 500 or less than 50

In [27]:
# Select rows where 'deaths' is greater than 500 or less than 50
selected_rows = df[(df['deaths'] > 500) | (df['deaths'] < 50)]
print(selected_rows)

              regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona     Nighthawks     1st       4        5   750        48        1.5
Texas         Dragoons     1st      24       10   800         5        1.0
Florida         Scouts     2nd      31       15   950        90        2.0
California  Nighthawks     2nd       2        5   800        20        1.5

            armored  deserters
origin
Arizona          75          4
Texas            35         24
Florida          85         31
California       25          2

Select all the regiments not named "Dragoons"

In [28]:
# Select all regiments not named "Dragoons"
selected_regiments = df[df['regiment'] != 'Dragoons']
print(selected_regiments)

              regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona     Nighthawks     1st       4        5   750        48        1.5
Florida         Scouts     2nd      31       15   950        90        2.0
California  Nighthawks     2nd       2        5   800        20        1.5

            armored  deserters
origin
Arizona          75          4
Florida          85         31
California       25          2

Select the rows called Texas and Arizona


Select the third cell down in the column named death

In [33]:
third_cell_deaths = df.loc[['Texas', 'Arizona'], 'deaths']
print(third_cell_deaths)

origin
Texas      24
Arizona     4
Name: deaths, dtype: int64