<a href="https://colab.research.google.com/github/RichardKameri/tydata/blob/main/drinks2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pn

 CREATE A DATA DICTIONARY(DATA FRAME)

In [ ]:
import pandas as pn
df=pn.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

IMPORT DATA SET

In [12]:
df=pd.read_csv('/content/drinks.csv')
print(df)

         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol
0                             0.0
1                             4.9
2                             0.7
3                            12.4
4                             5.9
..                            ...
188                           7.7
189                           2.0
190                           0.1
191                           2.5
192                           4.7

[193 rows x 5 columns]

WHICH COUNTRY DRINKS MORE ALCOLHL BY COUNTRY

In [15]:
beer_servings=df.groupby('country')['beer_servings'].mean()
print(beer_servings)

country
Afghanistan      0.0
Albania         89.0
Algeria         25.0
Andorra        245.0
Angola         217.0
               ...
Venezuela      333.0
Vietnam        111.0
Yemen            6.0
Zambia          32.0
Zimbabwe        64.0
Name: beer_servings, Length: 193, dtype: float64

FOR EACH COUNTRY PRINT STATISTICS FOR WINE CONSUMPTION

In [16]:
wine_servings=df.groupby('country')['wine_servings'].mean()
print(wine_servings)

country
Afghanistan      0.0
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            0.0
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

PRINT BTHE MEAN ALCOHOL CONSUMPTION PER COUNTRY FOR EVERY COLUMN

In [17]:
mean_consumption=df.groupby('country')[['beer_servings','spirit_servings','wine_servings','total_litres_of_pure_alcohol']].mean()
print(mean_consumption)

             beer_servings  spirit_servings  wine_servings  \
country
Afghanistan            0.0              0.0            0.0
Albania               89.0            132.0           54.0
Algeria               25.0              0.0           14.0
Andorra              245.0            138.0          312.0
Angola               217.0             57.0           45.0
...                    ...              ...            ...
Venezuela            333.0            100.0            3.0
Vietnam              111.0              2.0            1.0
Yemen                  6.0              0.0            0.0
Zambia                32.0             19.0            4.0
Zimbabwe              64.0             18.0            4.0

             total_litres_of_pure_alcohol
country
Afghanistan                           0.0
Albania                               4.9
Algeria                               0.7
Andorra                              12.4
Angola                                5.9
...                                   ...
Venezuela                             7.7
Vietnam                               2.0
Yemen                                 0.1
Zambia                                2.5
Zimbabwe                              4.7

[193 rows x 4 columns]

Print the median alcohol consumption per continent for every column

In [19]:
median_consumption=df.groupby('country')[['beer_servings','spirit_servings','wine_servings','total_litres_of_pure_alcohol']].median()
print(median_consumption)

             beer_servings  spirit_servings  wine_servings  \
country
Afghanistan            0.0              0.0            0.0
Albania               89.0            132.0           54.0
Algeria               25.0              0.0           14.0
Andorra              245.0            138.0          312.0
Angola               217.0             57.0           45.0
...                    ...              ...            ...
Venezuela            333.0            100.0            3.0
Vietnam              111.0              2.0            1.0
Yemen                  6.0              0.0            0.0
Zambia                32.0             19.0            4.0
Zimbabwe              64.0             18.0            4.0

             total_litres_of_pure_alcohol
country
Afghanistan                           0.0
Albania                               4.9
Algeria                               0.7
Andorra                              12.4
Angola                                5.9
...                                   ...
Venezuela                             7.7
Vietnam                               2.0
Yemen                                 0.1
Zambia                                2.5
Zimbabwe                              4.7

[193 rows x 4 columns]

 Print the mean, min and max values for spirit consumption

In [20]:
mean_consumption=df['spirit_servings'].mean()
print(mean_consumption)

80.99481865284974

In [21]:
min_consumption=df['spirit_servings'].min()
print(min_consumption)

0

In [22]:
max_consumption=df['spirit_servings'].max()
print(max_consumption)

438