<a href="https://colab.research.google.com/github/RichardKameri/tydata/blob/main/Euro12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

READ AND IMPORT THE DATASET

In [6]:
df = pd.read_csv('/content/Euro_2012_stats_TEAM.csv')

In [7]:
df.describe()

,Goals,Shots on target,Shots off target,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passes,Passes completed,...,Goals conceded,Saves made,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
count,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.0000,16.000000,16.000000,16.000000,...,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.00000,16.00000,16.000000
mean,4.750000,17.125000,24.937500,54.937500,1.250000,0.187500,0.0625,1.375000,1763.375000,1467.375000,...,4.750000,12.125000,52.937500,55.625000,8.125000,7.437500,0.187500,10.87500,10.87500,17.250000
std,2.886751,10.582218,10.680005,26.065223,1.612452,0.403113,0.2500,1.024695,906.177898,827.580721,...,1.983263,4.573474,22.915697,18.973227,4.910872,3.265348,0.403113,3.53789,3.53789,1.527525
min,1.000000,7.000000,10.000000,27.000000,0.000000,0.000000,0.0000,0.000000,851.000000,606.000000,...,1.000000,6.000000,25.000000,30.000000,2.000000,4.000000,0.000000,7.00000,7.00000,15.000000
25%,2.750000,9.750000,18.000000,36.500000,0.000000,0.000000,0.0000,0.750000,1190.750000,951.500000,...,3.000000,9.750000,35.750000,44.500000,4.000000,5.000000,0.000000,8.50000,8.50000,16.000000
50%,4.500000,13.000000,23.500000,44.000000,1.000000,0.000000,0.0000,1.500000,1522.000000,1211.500000,...,5.000000,11.000000,45.500000,51.000000,7.500000,6.500000,0.000000,10.50000,10.50000,17.000000
75%,5.250000,22.000000,32.250000,68.750000,2.000000,0.000000,0.0000,2.000000,1934.750000,1546.500000,...,6.000000,13.500000,64.000000,64.750000,11.250000,9.000000,0.000000,12.50000,12.50000,18.250000
max,12.000000,42.000000,45.000000,110.000000,6.000000,1.000000,1.0000,3.000000,4317.000000,3820.000000,...,9.000000,22.000000,102.000000,90.000000,19.000000,16.000000,1.000000,18.00000,18.00000,20.000000

SELECT THE GOAL COLUMN ONLY

In [8]:
# select only the goal column only
Goals_col = df['Goals']

GET TO KNOW HOW MANY TEAMS PARTICIPATED IN EURO12

In [12]:
# get all the teams that participated in euro12

In [13]:
from re import T
Teams = df['Team']
print(Teams)

0                 Croatia
1          Czech Republic
2                 Denmark
3                 England
4                  France
5                 Germany
6                  Greece
7                   Italy
8             Netherlands
9                  Poland
10               Portugal
11    Republic of Ireland
12                 Russia
13                  Spain
14                 Sweden
15                Ukraine
Name: Team, dtype: object

NUMBER OF COLUMNS IN THE DATA SET

In [14]:
num_cols = df.shape[1]
print(num_cols)

35

VIEWING  ONLY THE COLUMNS TEAM,YELLOW CARDS, AND RED CARDS AND ASSIGN THE TO DATA FRAME CALLED DISCIPLINE

In [15]:
discpline = df[['Team','Yellow Cards','Red Cards']]
print(discpline)

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

SORT TEAM BY RED CARDS, THEN TO YELLOW CARDS

In [16]:
sorted_df = df.sort_values(by=['Red Cards', 'Yellow Cards'])
print(sorted_df)

                   Team  Goals  Shots on target  Shots off target  \
2               Denmark      4               10                10
5               Germany     10               32                32
3               England      5               11                18
8           Netherlands      2               12                36
15              Ukraine      2                7                26
4                France      3               22                24
12               Russia      5                9                31
1        Czech Republic      4               13                18
14               Sweden      5               17                19
0               Croatia      4               13                12
13                Spain     12               42                33
10             Portugal      6               22                42
7                 Italy      6               34                45
11  Republic of Ireland      1                7                12
9                Poland      2               15                23
6                Greece      5                8                18

   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)  \
2              50.0%            20.0%                          27
5              47.8%            15.6%                          80
3              50.0%            17.2%                          40
8              25.0%             4.1%                          60
15             21.2%             6.0%                          38
4              37.9%             6.5%                          65
12             22.5%            12.5%                          59
1              41.9%            12.9%                          39
14             47.2%            13.8%                          39
0              51.9%            16.0%                          32
13             55.9%            16.0%                         100
10             34.3%             9.3%                          82
7              43.0%             7.5%                         110
11             36.8%             5.2%                          28
9              39.4%             5.2%                          48
6              30.7%            19.2%                          32

    Hit Woodwork  Penalty goals  Penalties not scored  ...  Saves made  \
2              1              0                     0  ...          10
5              2              1                     0  ...          10
3              0              0                     0  ...          22
8              2              0                     0  ...          12
15             0              0                     0  ...          13
4              1              0                     0  ...           6
12             2              0                     0  ...          10
1              0              0                     0  ...           9
14             3              0                     0  ...           8
0              0              0                     0  ...          13
13             0              1                     0  ...          15
10             6              0                     0  ...          10
7              2              0                     0  ...          20
11             0              0                     0  ...          17
9              0              0                     0  ...           6
6              1              1                     1  ...          13

    Saves-to-shots ratio  Fouls Won Fouls Conceded  Offsides  Yellow Cards  \
2                  66.7%         25             38         8             4
5                  62.6%         63             49        12             4
3                  88.1%         43             45         6             5
8                  70.6%         35             30         3             5
15                 76.5%         48             31         4             5
4                  54.6%         36             51         5             6
12                 77.0%         34             43         4             6
1                  60.1%         53             73         8             7
14                 61.6%         35             51         7             7
0                  81.3%         41             62         2             9
13                 93.8%        102             83        19            11
10                 71.5%         73             90        10            12
7                  74.1%        101             89        16            16
11                 65.4%         43             51        11             6
9                  66.7%         48             56         3             7
6                  65.1%         67             48        12             9

    Red Cards  Subs on  Subs off  Players Used
2           0        7         7            15
5           0       15        15            17
3           0       11        11            16
8           0        7         7            15
15          0        9         9            18
4           0       11        11            19
12          0        7         7            16
1           0       11        11            19
14          0        9         9            18
0           0        9         9            16
13          0       17        17            18
10          0       14        14            16
7           0       18        18            19
11          1       10        10            17
9           1        7         7            17
6           1       12        12            20

[16 rows x 35 columns]

CALCULATE THE MEAN YELLOW CARDS GIVEN PER TEAM

In [18]:
# Calculat e the mean number of yellow cards given per team
mean_yellow_cards= df['Yellow Cards'].mean()
print(f"the mean_yellow_cards given per teamis: {mean_yellow_cards}")

the mean_yellow_cards given per teamis: 7.4375

ILTER TEAMS THAT SCORED MORE THAN 6 GOALS

In [20]:
teams_more_than_6_goals = df[df['Goals'] > 6]
print(teams_more_than_6_goals[['Team', 'Goals']])

       Team  Goals
5   Germany     10
13    Spain     12

SELECT TEAMS THAT STARTS WITH G

In [21]:
teams_starting_with_G = df[df['Team'].str.startswith('G')]
print(teams_starting_with_G['Team'])

5    Germany
6     Greece
Name: Team, dtype: object

  SELECT ALL COLUMNS EXCEPT THE LAST 3

In [22]:
except_last_3 = df.iloc[:, :-3]
print(except_last_3)

                   Team  Goals  Shots on target  Shots off target  \
0               Croatia      4               13                12
1        Czech Republic      4               13                18
2               Denmark      4               10                10
3               England      5               11                18
4                France      3               22                24
5               Germany     10               32                32
6                Greece      5                8                18
7                 Italy      6               34                45
8           Netherlands      2               12                36
9                Poland      2               15                23
10             Portugal      6               22                42
11  Republic of Ireland      1                7                12
12               Russia      5                9                31
13                Spain     12               42                33
14               Sweden      5               17                19
15              Ukraine      2                7                26

   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)  \
0              51.9%            16.0%                          32
1              41.9%            12.9%                          39
2              50.0%            20.0%                          27
3              50.0%            17.2%                          40
4              37.9%             6.5%                          65
5              47.8%            15.6%                          80
6              30.7%            19.2%                          32
7              43.0%             7.5%                         110
8              25.0%             4.1%                          60
9              39.4%             5.2%                          48
10             34.3%             9.3%                          82
11             36.8%             5.2%                          28
12             22.5%            12.5%                          59
13             55.9%            16.0%                         100
14             47.2%            13.8%                          39
15             21.2%             6.0%                          38

    Hit Woodwork  Penalty goals  Penalties not scored  ...  Clean Sheets  \
0              0              0                     0  ...             0
1              0              0                     0  ...             1
2              1              0                     0  ...             1
3              0              0                     0  ...             2
4              1              0                     0  ...             1
5              2              1                     0  ...             1
6              1              1                     1  ...             1
7              2              0                     0  ...             2
8              2              0                     0  ...             0
9              0              0                     0  ...             0
10             6              0                     0  ...             2
11             0              0                     0  ...             0
12             2              0                     0  ...             0
13             0              1                     0  ...             5
14             3              0                     0  ...             1
15             0              0                     0  ...             0

    Blocks  Goals conceded Saves made  Saves-to-shots ratio  Fouls Won  \
0       10               3         13                 81.3%         41
1       10               6          9                 60.1%         53
2       10               5         10                 66.7%         25
3       29               3         22                 88.1%         43
4        7               5          6                 54.6%         36
5       11               6         10                 62.6%         63
6       23               7         13                 65.1%         67
7       18               7         20                 74.1%        101
8        9               5         12                 70.6%         35
9        8               3          6                 66.7%         48
10      11               4         10                 71.5%         73
11      23               9         17                 65.4%         43
12       8               3         10                 77.0%         34
13       8               1         15                 93.8%        102
14      12               5          8                 61.6%         35
15       4               4         13                 76.5%         48

    Fouls Conceded  Offsides  Yellow Cards  Red Cards
0               62         2             9          0
1               73         8             7          0
2               38         8             4          0
3               45         6             5          0
4               51         5             6          0
5               49        12             4          0
6               48        12             9          1
7               89        16            16          0
8               30         3             5          0
9               56         3             7          1
10              90        10            12          0
11              51        11             6          1
12              43         4             6          0
13              83        19            11          0
14              51         7             7          0
15              31         4             5          0

[16 rows x 32 columns]

PRESENT ONLY THE SHOOTING ACCURACY FROM ENGLAND ITALY AND CROATIA

In [23]:
shooting_accuracy = df.loc[df['Team'].isin(['England', 'Italy', 'Croatia']), ['Team', 'Shooting Accuracy']]
print(shooting_accuracy)

      Team Shooting Accuracy
0  Croatia             51.9%
3  England             50.0%
7    Italy             43.0%