<a href="https://colab.research.google.com/github/RichardKameri/pydata/blob/main/Investor_flows.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
called = pd.read_csv('/content/weekly.csv')

In [3]:
# What is the frequency of the dataset?
called.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             44 non-null     object
 1   Total Equity     44 non-null     int64
 2   Domestic Equity  44 non-null     int64
 3   World Equity     44 non-null     int64
 4   Hybrid           44 non-null     int64
 5   Total Bond       44 non-null     int64
 6   Taxable Bond     44 non-null     int64
 7   Municipal Bond   44 non-null     int64
 8   Total            44 non-null     int64
dtypes: int64(8), object(1)
memory usage: 3.2+ KB

In [5]:
  # Ensure the Date column is in datetime format
called['Date'] = pd.to_datetime(called['Date'])
print(called['Date'].diff().value_counts())

Date
7 days      37
21 days      2
448 days     1
56 days      1
6 days       1
43 days      1
Name: count, dtype: int64

In [6]:
#  Set the column Date as the index.
called.set_index('Date', inplace=True)

In [7]:
#  Change the frequency to monthly, sum the values and assign it to monthly
monthly = called.resample('M').sum()

<ipython-input-7-cec5c5b9615b>:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly = called.resample('M').sum()

In [8]:
# You will notice that it filled the dataFrame with months that don't have any data with NaN. Let's drop these rows.
monthly.dropna(inplace=True)

In [9]:
# Good, now we have the monthly data. Now change the frequency to year.
yearly = monthly.resample('Y').sum()

<ipython-input-9-75d6b566e924>:2: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  yearly = monthly.resample('Y').sum()