<a href="https://colab.research.google.com/github/RichardKameri/tydata/blob/main/Merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
cars1 = pd.read_csv('/content/CARS.csv')

In [4]:
cars2 = pd.read_csv('/content/cars_data.csv')

In [5]:
cars1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 428 entries, 0 to 427
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         428 non-null    object
 1   Model        428 non-null    object
 2   Type         428 non-null    object
 3   Origin       428 non-null    object
 4   DriveTrain   428 non-null    object
 5   MSRP         428 non-null    object
 6   Invoice      428 non-null    object
 7   EngineSize   428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   428 non-null    int64
 10  MPG_City     428 non-null    int64
 11  MPG_Highway  428 non-null    int64
 12  Weight       428 non-null    int64
 13  Wheelbase    428 non-null    int64
 14  Length       428 non-null    int64
dtypes: float64(2), int64(6), object(7)
memory usage: 50.3+ KB

In [6]:
cars2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   3            204 non-null    int64
 1   ?            204 non-null    object
 2   alfa-romero  204 non-null    object
 3   gas          204 non-null    object
 4   std          204 non-null    object
 5   two          204 non-null    object
 6   convertible  204 non-null    object
 7   rwd          204 non-null    object
 8   front        204 non-null    object
 9   88.60        204 non-null    float64
 10  168.80       204 non-null    float64
 11  64.10        204 non-null    float64
 12  48.80        204 non-null    float64
 13  2548         204 non-null    int64
 14  dohc         204 non-null    object
 15  four         204 non-null    object
 16  130          204 non-null    int64
 17  mpfi         204 non-null    object
 18  3.47         204 non-null    object
 19  2.68         204 non-null    object
 20  9.00         204 non-null    float64
 21  111          204 non-null    object
 22  5000         204 non-null    object
 23  21           204 non-null    int64
 24  27           204 non-null    int64
 25  13495        204 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.6+ KB

In [7]:
# join cars1 and cars2 into a single data frame
cars = pd.concat([cars1, cars2])

In [8]:
# display the merged data frame
cars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 632 entries, 0 to 203
Data columns (total 41 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         428 non-null    object
 1   Model        428 non-null    object
 2   Type         428 non-null    object
 3   Origin       428 non-null    object
 4   DriveTrain   428 non-null    object
 5   MSRP         428 non-null    object
 6   Invoice      428 non-null    object
 7   EngineSize   428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   428 non-null    float64
 10  MPG_City     428 non-null    float64
 11  MPG_Highway  428 non-null    float64
 12  Weight       428 non-null    float64
 13  Wheelbase    428 non-null    float64
 14  Length       428 non-null    float64
 15  3            204 non-null    float64
 16  ?            204 non-null    object
 17  alfa-romero  204 non-null    object
 18  gas          204 non-null    object
 19  std          204 non-null    object
 20  two          204 non-null    object
 21  convertible  204 non-null    object
 22  rwd          204 non-null    object
 23  front        204 non-null    object
 24  88.60        204 non-null    float64
 25  168.80       204 non-null    float64
 26  64.10        204 non-null    float64
 27  48.80        204 non-null    float64
 28  2548         204 non-null    float64
 29  dohc         204 non-null    object
 30  four         204 non-null    object
 31  130          204 non-null    float64
 32  mpfi         204 non-null    object
 33  3.47         204 non-null    object
 34  2.68         204 non-null    object
 35  9.00         204 non-null    float64
 36  111          204 non-null    object
 37  5000         204 non-null    object
 38  21           204 non-null    float64
 39  27           204 non-null    float64
 40  13495        204 non-null    object
dtypes: float64(18), object(23)
memory usage: 207.4+ KB