<a href="https://colab.research.google.com/github/RichardKameri/tydata/blob/main/pandasexe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pn

CREATE A DATA  DICTIONARY(A DATA FRAME)

In [4]:
import pandas as pn
df=pn.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
import pandas as pn
df=pn.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [8]:
# data
data = {
    'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex': ['yes', 'no', 'yes', 'no'],
    'type': ['grass', 'fire', 'water', 'bug']
}

In [9]:
df=pn.DataFrame(data)
print(df)

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

In [10]:
df.to_csv('pokemon.csv')

PLACE THE  ORDER OF COLUMNS AS NAME,TYPE,HP,EVOLUTION,POKEDEX

In [11]:
import pandas as pn
df=pn.DataFrame(data)
df=df[['name','type','hp','evolution','pokedex']]
print(df)

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

ADD ANOTHER COLUMN CALLED PLACE AND INSERT GENDER

In [12]:
import pandas as pn
df=pn.DataFrame(data)
df['place']=['park','street','lake','forest']
df['gender']=['femail','male','femail','male']
print(df)

    evolution  hp        name pokedex   type   place  gender
0     Ivysaur  45   Bulbasaur     yes  grass    park  femail
1  Charmeleon  39  Charmander      no   fire  street    male
2   Wartortle  44    Squirtle     yes  water    lake  femail
3     Metapod  45    Caterpie      no    bug  forest    male

PRESENT THE TYPE OF EACH COLUMN

In [13]:
import pandas as pn
df=pn.DataFrame(data)
df=df[['name','type','hp','evolution','pokedex']]
print(df)
print(df.dtypes)

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no
name         object
type         object
hp            int64
evolution    object
pokedex      object
dtype: object