<a href="https://colab.research.google.com/github/RichardKameri/tydata/blob/main/pandasexe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pn

CREATE A DATA  DICTIONARY(A DATA FRAME)

In [4]:
import pandas as pn
df=pn.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
import pandas as pn
df=pn.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [8]:
# data
data = {
    'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex': ['yes', 'no', 'yes', 'no'],
    'type': ['grass', 'fire', 'water', 'bug']
}

In [9]:
df=pn.DataFrame(data)
print(df)

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

In [10]:
df.to_csv('pokemon.csv')