<a href="https://colab.research.google.com/github/RichardKameri/pydata/blob/main/Wine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
# import data
wine = pd.read_csv('/content/wine.data.txt')

In [5]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       177 non-null    int64
 1   14.23   177 non-null    float64
 2   1.71    177 non-null    float64
 3   2.43    177 non-null    float64
 4   15.6    177 non-null    float64
 5   127     177 non-null    int64
 6   2.8     177 non-null    float64
 7   3.06    177 non-null    float64
 8   .28     177 non-null    float64
 9   2.29    177 non-null    float64
 10  5.64    177 non-null    float64
 11  1.04    177 non-null    float64
 12  3.92    177 non-null    float64
 13  1065    177 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.5 KB

In [6]:
# Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns
wine = wine.drop(wine.columns[[0,3,6,8,10,12,13]], axis = 1)

In [7]:
wine.columns = ['alcohol', 'malic_acid', 'alcalinity_of_ash', 'magnesium', 'flavanoids', 'proanthocyanins', 'hue']

In [8]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   alcohol            177 non-null    float64
 1   malic_acid         177 non-null    float64
 2   alcalinity_of_ash  177 non-null    float64
 3   magnesium          177 non-null    int64
 4   flavanoids         177 non-null    float64
 5   proanthocyanins    177 non-null    float64
 6   hue                177 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 9.8 KB

In [9]:
#  Set the values of the first 3 rows from alcohol as NaN
wine.loc[0:2, 'alcohol'] = None

In [10]:
# Now set the value of the rows 3 and 4 of magnesium as NaN
wine.loc[2:3, 'magnesium'] = None

In [11]:
# Fill the value of NaN with the number 10 in alcohol and 100 in magnesium
wine.alcohol.fillna(10, inplace = True)
wine.magnesium.fillna(100, inplace = True)

<ipython-input-11-594150b9b4b0>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  wine.alcohol.fillna(10, inplace = True)
<ipython-input-11-594150b9b4b0>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  wine.magnesium.fillna(100, inplace = True)

In [12]:
# Count the number of missing values
wine.isnull().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

In [13]:
#  Create an array of 10 random numbers up until 10
random_numbers = np.random.randint(0, 11, 10)
print(random_numbers)

[2 5 5 0 9 6 6 8 3 0]

In [14]:
# Use random numbers you generated as an index and assign NaN value to each of cell
wine.loc[random_numbers] = None

In [15]:
# How many missing values do we have
wine.isnull().sum()

alcohol              7
malic_acid           7
alcalinity_of_ash    7
magnesium            7
flavanoids           7
proanthocyanins      7
hue                  7
dtype: int64

In [16]:
#  Print only the non-null values in alcohol
wine.alcohol.notnull()

0      False
1       True
2      False
3      False
4       True
       ...
172     True
173     True
174     True
175     True
176     True
Name: alcohol, Length: 177, dtype: bool

In [17]:
print(wine['alcohol'].dropna())

1      10.00
4      14.20
7      14.83
10     14.12
11     13.75
       ...
172    13.71
173    13.40
174    13.27
175    13.17
176    14.13
Name: alcohol, Length: 170, dtype: float64

In [18]:
# Reset the index, so it starts with 0 again
wine.reset_index(drop = True)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10.00,2.36,18.6,101.0,3.24,2.81,1.03
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14.20,1.76,15.2,112.0,3.39,1.97,1.05
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,95.0,0.61,1.06,0.64
173,13.40,3.91,23.0,102.0,0.75,1.41,0.70
174,13.27,4.28,20.0,120.0,0.69,1.35,0.59
175,13.17,2.59,20.0,120.0,0.68,1.46,0.60
176,14.13,4.10,24.5,96.0,0.76,1.35,0.61

In [20]:
# whats the median value of flavanoinds
wine['flavanoids'].median()
print(wine['flavanoids'].median())

2.035